# Browsers that we support

# Modern browsers with > 1% market share
> 1%
# Last 2 versions of major browsers
last 2 versions
# Firefox ESR
firefox esr
# Not dead browsers
not dead
# Current Node version
current node
